@charset "UTF-8";
 @import url(fonts/stylesheet.css);
/*General*/
table.form-table, .cabecera {
	clear: none;
	width: 70%;
}
.imagen {
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	background-image: url(images/cabecera.jpg);
	width: 582px;
	height: 139px;
	display: block;
}
.imagen:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
div.info [class^="icon-"]:before, div.info [class*=" icon-"]:before, div.info [class^="icon-"]:after, div.info [class*=" icon-"]:after, div.info .head {
	font-size: 20px;
}
div.info {
	background-color: #FFFFFF;
	float: right;
	margin: 10px 0px;
	padding: 10px;
	width: 320px;
	border-left: 4px solid #7AD03A;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
div.info .head {
	text-align: center;
}
div.info > div {
	padding: 10px;
	margin: 10px auto 0px;
	width: 290px;
	border-top: 1px solid #7AD03A;
}
div.info a {
	text-decoration: none;
}
input[type="text"], input[type="number"], textarea, select {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	width: 25em!important;
	outline: 0px none;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset!important;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset!important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset!important;
}
input[type="text"], input[type="number"], textarea, select {
	height: 30px!important;
}
textarea {
	float: none;
	height: 150px!important;
	width: 100%!important;
	max-width: 590px!important;
}
input:focus, textarea:focus, select:focus, .chzn-container:hover {
	border-color: #999999;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)!important;
}
.parent{
	text-align: center;
    -moz-column-count: 3;
    -moz-column-gap: 10%;
    -webkit-column-count: 3;
    -webkit-column-gap: 10%;
    column-count: 3;
    column-gap: 10%;
}