/* Fuentes */

/* APG */
@font-face {
	font-family: 'd3_euronismregular';
	src: url('d3euronism-webfont.eot');
	src: url('d3euronism-webfont.eot?#iefix') format('embedded-opentype'), url('d3euronism-webfont.woff') format('woff'), url('d3euronism-webfont.ttf') format('truetype'), url('d3euronism-webfont.svg#d3_euronismregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Iconos */
@font-face {
	font-family: "Icon";
	src: url("icon.eot");
	src: url("icon.eot#iefix") format("embedded-opentype"), url("icon.woff") format("woff"), url("icon.ttf") format("truetype"), url("icon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
/* Clases */
.zenziva {
	font-family: d3_euronismregular;
}
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
	font-family: Icon!important;
}
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after, .zenziva {
	font-style: normal;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover, .zenziva:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.icon-facebook6:before {
	content: "\e000";
}
.icon-google16:before {
	content: "\e001";
}
.icon-logo:before {
	content: "\e002";
}
.icon-open21:before {
	content: "\e003";
}
.icon-paypal:before {
	content: "\e004";
}
.icon-social19:before {
	content: "\e005";
}
.icon-social23:before {
	content: "\e006";
}
.icon-social6:before {
	content: "\e007";
}
.icon-wordpress2:before {
	content: "\e008";
}
.icon-work:before {
	content: "\e009";
}
div.star-holder {
	display: inline-block;
	vertical-align: text-bottom;
}
div.star-holder .star-rating {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
div.star-holder.rate .star-rate {
	position: absolute;
}
div.star-holder.rate:hover .star-rating {
	display: none;
}
div.star-holder .star-rate a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	float: right;
	height: 17px;
	width: 21px;
}
div.star-holder .star-rate a:first-child {
	width: 14px;
}
div.star-holder .star-rate a:hover ~ a, div.star-holder .star-rate a:hover {
	background: url("/wp-admin/images/stars.png?ver=20121108") no-repeat scroll left top rgba(0, 0, 0, 0);
}
